    <!-- Preloader -->
    <!-- <div class="preloader">
        <div class="loader">
            <span>L</span>
            <span>O</span>
            <span>A</span>
            <span>D</span>
            <span>I</span>
            <span>N</span>
            <span>G</span>
            
            <div class="covers">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
    </div> -->

    <!-- =========================== 1. Top Header Section =========================================== -->

    <div class="top-header d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-5 col-md-6 col-12">
                    <div class="top-header-contact">
                        <a href="tel:+91 9818530269">
                            <i class="fas fa-phone-alt"></i>+91 9818530269
                        </a>
                    </div>
                    <div class="top-header-contact">
                        <a href="mailto:info@example.com">
                            <i class="fas fa-envelope"></i>info@example.com
                        </a>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-0 text-right top-header-social">
                    <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                    <a href="https://www.linkdin.com/" target="_blank"><i class="fab fa-linkedin-in m-0"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- =========================== 2. Menu Section =========================================== -->

    <div class="menu-header d-flex align-items-center">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-2 d-flex align-items-center">
                    <a href="index.html"><img class="logo" src="../assets/site-img/logo/site-logo/logo.png" alt="Habu"></a>
                </div>
                <div class="col-10 d-flex align-items-center">
                    <nav id="mobile-menu" class="menu-area d-lg-flex align-items-center ml-auto">
                        <ul>
                            <li class="current-menu-item">
                                <a href="#">Home</a>
                            </li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Courses</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQ ' s</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </nav>
                    <div class="mobile-menu"></div>
                    <button class="large-blue-button menu-button" >Get a quote</button>
                </div>
            </div>
        </div>
    </div>

