/* ------------- # Footer Section ------------- */

section.footer-area {
    background-color: #f6f6f6;
    padding: 120px 0;
}

section.footer-area h2 {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: rgb(30, 42, 120);
    font-weight: bold;
    margin-bottom: 45px;
}

section.footer-area p, section.footer-area li a {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    color: rgb(100, 117, 137);
    line-height: 2.118;
}

section.footer-area ul li a:hover {
    color: rgb(34, 54, 69);
}

section.footer-area ul {
    max-height: 182px;
    list-style: none;
    display: flex;
    flex-flow: wrap column;
    display: -ms-flexbox;           /* IE 10 */
    display: -webkit-flex;          /* Safari 6.1+. iOS 7.1+ */
    -webkit-flex-flow: wrap column; /* Safari 6.1+ */
    padding-left: 20px;
    -moz-column-gap: 64px;
    -webkit-column-gap: 64px;
    column-gap: 64px;
}

section.footer-area li {
    position: relative;
}

section.footer-area li:before {   
    content: "";  
    border-color: transparent #777777;  
    border-style: solid;  
    border-width: 0.35em 0 0.35em 0.45em;  
    display: block;  
    height: 0;  
    width: 0;  
    left: -23px;  
    top: 13px;  
    position: absolute;  
}

section.footer-area input {
    background: transparent;
    margin: 0;
    float: left;
    color: #1e2a78;
    transition: 0.3s;
}

section.footer-area input::placeholder {
    color: rgb(100, 117, 137);
}

section.footer-area form {
    overflow: hidden;
    height: 37px;
}

section.footer-area input[type="date"],
section.footer-area input[type="datetime"],
section.footer-area input[type="datetime-local"],
section.footer-area input[type="email"],
section.footer-area input[type="file"],
section.footer-area input[type="month"],
section.footer-area input[type="number"],
section.footer-area input[type="password"],
section.footer-area input[type="range"],
section.footer-area input[type="search"],
section.footer-area input[type="text"],
section.footer-area input[type="tel"],
section.footer-area input[type="time"],
section.footer-area input[type="url"],
section.footer-area input[type="week"] {
    padding: 7px 16px;
    width: 70%;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    border: 1px solid rgb(224, 224, 224);
    height: 37px;
}

section.footer-area input[type="submit"],
section.footer-area input[type="button"] {
    width: 30%;
    background: #1e2a78;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    padding: 8px 0;
    border: none;
    transition: 0.3s;
    height: 37px;
}

section.footer-area input[type="submit"]:hover {
    background: #4554b4;
    transition: 0.3s;
}

section.footer-area input[type="submit"]:active {
    background: #1e2a78;
    transition: 0.3s;
}

.footer-social {
    padding-top: 30px;
    display: inline-block;
}

.footer-social svg {
    margin-right: 19px;
    font-size: 16px;
    color: rgb(30, 42, 120);
    line-height: 1.125;
}

a.go-to-top {
    position: absolute;
    top: 93%;
    left: calc(100% + 256px);
    color: white;
    background: #1e2a78;
    padding: 12px 15px;
    font-size: 14px;
}

a.go-to-top:hover {
    color: #1e2a78;
    background: white;
}

/* ------------- # Copyright Section ------------- */

.copyright p {
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: rgb(100, 117, 137);
    padding: 15px;
    margin-bottom: 0;
}