    <!-- =========================== 11. Footer Section =========================================== -->

    <section class="footer-area">
        <div class="container position-relative">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-9">
                    <h2>Contact Us</h2>
                    <p>+91 9818530269 <br>info@example.com <br>C2 / 190 Sector 18<br>Delhi 89, India</p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-9">
                    <h2>Important</h2>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Work</a></li>
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">FAQ ' s</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Privacy & Policy</a></li>
                        <li><a href="#">Terms And Condition</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-9 col-12">
                    <h2>Our Newsletter</h2>
                    <p>Subscribe to our mailing list to get the up dates to your email inbox</p>
                    <form action="http://tf.wpcashcow.com/digital/index.html">
                        <input type="email" placeholder="E-mail">
                        <input type="submit" value="Subscribe">
                    </form>
                    <div class="footer-social mt-30">
                        <a href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                        <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in m-0"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- =========================== 12. Copyright Section =========================================== -->

    <div class="container text-center copyright">
        <p>Copyright ©2020 Digital. All Rights Reserved by Aditya&Satyam.Co</p>
    </div>